<web-app>
	<servlet>
		<servlet-name>check1</servlet-name>
		<servlet-class>j1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check1</servlet-name>
		<url-pattern>/link</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>check2</servlet-name>
		<servlet-class>j2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check2</servlet-name>
		<url-pattern>/helloform</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ck1</servlet-name>
		<servlet-class>ass1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ck1</servlet-name>
		<url-pattern>/arrform</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ck2</servlet-name>
		<servlet-class>ass2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ck2</servlet-name>
		<url-pattern>/sturank</url-pattern>
	</servlet-mapping>
</web-app>